# Configuración del servidor
PORT=3000
NODE_ENV=development

# Base de datos
DATABASE_URL="postgresql://username:password@localhost:5432/gymflow?schema=public"

# JWT
JWT_SECRET=tu_secreto_jwt_super_seguro
JWT_EXPIRES_IN=1d

# Frontend
FRONTEND_URL=http://localhost:3010